.Person {
    width: 60%;
    padding: 16px;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 12px auto;
    text-align: center;
}

@media (min-width: 500px ) {
    .Person {
        width: 400px;
    }
   
}

.Persons {
    text-align: center;
}